<h1>{{title}}</h1>
<body id="newTeam">
    <form method="POST">
    <fieldset>
        <label for="name">Team Name</label>
        <input type="text" name="name" id="name">
    </fieldset>
    <div id="saveBtn">
         <button class="btn btn-primary">Save</button>
    </div>
   

</form>
</body>
