<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Stat Tracker</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
      <h1>Welcome</h1>
   <div id="introPara">
  
    <p>In order to save the legacy of one of the most excellent of athelets. I have created a sort of personal journal for everyone so that they can save the details of there favourite player.</p>
    <p>Jordan won six championships with the Bulls and was named Finals MVP all six times. He was the NBA Most Valuable Player five times and a 14-time All-Star. He was All-Star game MVP three times and Defensive Player of the Year. He was all-defensive first team nine times and the NBA scoring leader 10 times.</p>
    
   </div>
   <div id="seeMore">
   <a href="/players" class="btn btn-secondary" >See More</a>

   </div>
  
   
</body>

</html>

